---
layout: none
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body class="preload">
    <div class="container">
        <header>
            {% include header.html %}
        </header>

        <main>
            {% for sect in site.data.config.section %}
            <section>
                <div class="section-title">
                    {{ sect.title }}
                </div>
                <div class="section-content">
                    {{ sect.content | markdownify }}
                    {% if sect.map %}
                    {% leaflet_map {"center": [30, 15]} %}
                    {% for point in sect.map %}
                    {% assign point_content = point.content | markdownify | strip_newlines | replace: '"', '\"' %}
                    {% leaflet_marker {
                    "latitude" : {{ point.latitude }},
                    "longitude" : {{ point.longitude }},
                    "popupContent" : "{{ point_content }}"
                    } %}
                    {% endfor %}
                    {% endleaflet_map %}
                    {% endif %}
                </div>
            </section>
            {% endfor %}
        </main>

        <footer>
            Last updated on {{ "now" | date: "%Y-%m-%d" }}
        </footer>
    </div>

    <script type="text/javascript">
        {% include iconscript.js %}
        window.onload = function () {
            document.body.classList.remove('preload');
        }
    </script>

    {% if site.data.config.CloudflareToken %}
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "{{ site.data.config.CloudflareToken }}"}'></script>
    {% endif %}

    {% if site.data.config.GoogleGTagID %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.config.GoogleGTagID }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.data.config.GoogleGTagID }}');
    </script>
    {% endif %}

</body>

</html>
