---
layout: default
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ site.site_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/base.css">
</head>

<body>

    <div class="container">
        {% include header.html %}

        <main>
            {{ content }}
        </main>

        <footer>
            Last updated on {{ "now" | date: "%Y-%m-%d" }}
        </footer>
    </div>

</body>

</html>
