---
layout: none
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body class="preload">
    <div class="container">
        <header>
            {% include header.html %}
        </header>

        <main>
            {% for sect in site.data.config.section %}
            <section>
                <div class="section-title">
                    {{ sect.title }}
                </div>
                <div class="section-content">
                    {% if sect.ix %}
                    <ul>
                        {% for item in sect.ix %}
                        <li>
                            {% if item.peeringdb %}
                            <p><a href="https://www.peeringdb.com/ix/{{ item.peeringdb }}">{{ item.name }}</a></p>
                            {% else %}
                            <p>{{ item.name }}</p>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% elsif sect.upstreams %}
                    <ul>
                        {% for item in sect.upstreams %}
                        <li>
                            <p><a href="https://bgp.tools/as/{{ item.asn }}">{{ item.name }} (AS{{ item.asn }})</a></p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% elsif sect.markdown %}
                    {{ sect.markdown | markdownify }}
                    {% endif %}
                </div>
            </section>
            {% endfor %}
        </main>

        <footer>
            Last updated on {{ "now" | date: "%Y-%m-%d" }}
        </footer>
    </div>

    <script type="text/javascript">
        {% include iconscript.js %}
        window.onload = function () {
            document.body.classList.remove('preload');
        }
    </script>

    {% if site.data.config.CloudflareToken %}
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "{{ site.data.config.CloudflareToken }}"}'></script>
    {% endif %}

    {% if site.data.config.GoogleGTagID %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.config.GoogleGTagID }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.data.config.GoogleGTagID }}');
    </script>
    {% endif %}

</body>

</html>
